<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The Home page <%= 9 + 5 + 10 %> </h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem tenetur optio autem, natus nostrum nisi similique culpa praesentium. Saepe suscipit possimus voluptatem non quam commodi nemo iure cupiditate veritatis voluptate cumque laudantium vitae sit illo maiores porro fugiat perferendis repellat, asperiores animi quibusdam, est nostrum? Maiores officia quasi voluptate iure.</p>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim possimus, aspernatur sit accusantium cumque non magnam sint minus. Architecto autem quam at distinctio debitis qui dicta reiciendis possimus illum voluptates!</p>
</body>
</html>